<nav
  class="navbar navbar-expand-lg"
  style="background-color: rgb(223, 129, 21);"
>
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        class="navbar-brand"
        href="#"
        style="color: rgb(0, 47, 255); font-weight: bolder;"
        >Weather</a
      >
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a
            class="nav-link"
            href="/"
            style="color: rgb(0, 47, 255); font-weight: bolder;"
            >Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/5day"
            style="color: rgb(0, 47, 255); font-weight: bolder;"
            >5-Day Forecast</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
